# LLM API KEY
OPENAI_API_KEY=""
GROK_API_KEY=""
DEEPINFRA_API_KEY=""
OTHER_API_KEY=""

# GEMINI LIVE API KEY
GEMINI_API_KEY=""

# LIVEKIT API CREDENTIALS
LIVEKIT_URL=""
LIVEKIT_API_KEY=""
LIVEKIT_API_SECRET=""

# GLADIA STT API KEY
GLADIA_API_KEY=""

# TTS API KEY
ELEVENLABS_API_KEY=""

# EXERTNAL SERVER API KEY
EXTERNAL_API_KEY=""

# VISION API KEY 
VISION_API_KEY=""

# DISCORD TOKEN
DISCORD_TOKEN=""

# HOME ASSISTANT TOKEN
HA_TOKEN=""
